.row
  .col-md-3.col-12.d-none.d-md-block
    .card.p-2.border-light
      = avatar_image(current_user, 'mx-auto card-img-top rounded-circle-lg')
      .card-body
        %h4.card-title= "#{@user.name}"
        %p.card-text
          %span.text-secondary
            あとで自己紹介カラム追加予定。。。。。。。
  .col-md-6.col-12
    = render partial: "tweets/tweet", collection: @tweets
