.row
  .col-md-6.offset-md-3
    %h2 Forgot your password?
    = simple_form_for(resource, as: resource_name, url: :user_password, html: { method: :post }) do |f|
      = f.input :email, autofocus: true, autocomplete: "email"
      = f.submit 'Send me reset password instructions', :class => 'btn btn-primary'